.banner-left{
  display: block;
  @include link(#190c06, #190c06);
  text-decoration: none;
  margin: 0px 0px 20px 0px;
  padding: 4px;
  background-color: #f4ece8;
  &_inner{
    border: 1px solid #ffffff;
    padding: 13px;
  }
  &_title{
    font-family: $robotocond;
    font-size: 17px;
    padding: 0px 0px 14px 0px;
  }
  &_text{
    font-size: 13px;
    padding: 6px 0px 0px 0px;
  }
  &_image{
    border: 2px solid #f8f4f1;
  }
}