.catalog-l1{
	&_item{
		display: block;
		font-family: $robotocond;
		@include link(#030303, #030303);
		font-size: 17px;
		text-decoration: none;
		position: relative;
		padding: 8px 0px 0px 13px;
		//margin: 0px 0px 10px 0px;
		height: 26px;
		@include def-transition(padding, 0.2s);
		@include before{
			position: absolute;
			top: 11px;
			left: 0px;
			display: block;
			width: 6px;
			height: 12px;
			background: url('../image/catalog-l1-arrow.png') no-repeat;
		}
		&:hover{
			background-color: #edbba7;
			padding: 8px 0px 0px 23px;
		}
	}
}