@font-face {
    font-family: 'roboto';
    src: url('../fonts/robotoslab-regular.eot');
    src: url('../fonts/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular.woff2') format('woff2'),
         url('../fonts/robotoslab-regular.woff') format('woff'),
         url('../fonts/robotoslab-regular.ttf') format('truetype'),
         url('../fonts/robotoslab-regular.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;

}
    font-family: 'robotocond';
    src: url('../fonts/roboto-cond.eot');
    src: url('../fonts/roboto-cond.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-cond.woff2') format('woff2'),
         url('../fonts/roboto-cond.woff') format('woff'),
         url('../fonts/roboto-cond.ttf') format('truetype'),
         url('../fonts/roboto-cond.svg#robotocond') format('svg');
    font-weight: normal;
    font-style: normal;

}