@font-face {
    font-family: 'roboto';
    src: url('../fonts/robotoslab-regular.eot');
    src: url('../fonts/robotoslab-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular.woff2') format('woff2'),
         url('../fonts/robotoslab-regular.woff') format('woff'),
         url('../fonts/robotoslab-regular.ttf') format('truetype'),
         url('../fonts/robotoslab-regular.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;

}