.gmap{
  margin: 0px 0px 43px 0px;
  padding: 4px;
  background-color: #f4ece8;
  &_inner{
    border: 1px solid #ffffff;
    height: 380px;
  }
  &_info{
    //position: absolute;
    //z-index: 999;
    //width: 200px;
    //height: 100px;
    //display: none;
    //background-color: #fff;
    //border: 3px solid #ebebeb;
    //padding: 10px;
  }
}