.menu-left{
  background-color: #1b0c04;
  margin: 0px 0px 20px 0px;
  &_list{
    &__l2{
      background-color: #1b0c04;
      //visibility: hidden;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      @include def-transition(left, 0.2s);
      .menu-left_item:hover &{
        //visibility: visible;
        left: 100%;
      }
    }
  }
  &_link{
    @include link(#ffffff, #ffbea4);
    background-color: #1b0c04;
    display: block;
    position: relative;
    z-index: 2;
    padding: 13px 26px 13px 19px;
    text-decoration: none;
    border-top: 1px dotted #3b2e27;
    font-size: 13px;
    .menu-left_item:hover &{
      @include link(#ffbea4, #ffbea4);
      @include before{
        display: block;
        width: 6px;
        height: 12px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin: -6px 0px 0px 0px;
        background: url('../image/menu-left-arrow.png') no-repeat;
      }
    }
    &__l2{
      .menu-left_item:hover &{
        @include link(#ffffff, #ffbea4);
      }
    } 
    &__active{
      @include link(#ffbea4, #ffbea4);
      @include before{
        display: block;
        width: 6px;
        height: 12px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin: -6px 0px 0px 0px;
        background: url('../image/menu-left-arrow.png') no-repeat;
      }
    }
    &.active{
      @include link(#ffbea4, #ffbea4);
      @include before{
        display: block;
        width: 6px;
        height: 12px;
        position: absolute;
        right: 16px;
        top: 50%;
        margin: -6px 0px 0px 0px;
        background: url('../image/menu-left-arrow.png') no-repeat;
      }
    }
  }
  &_item{
    position: relative;
    &:first-child a{
      border: none;
    }
  }
}