.mybreadcrumb{
	padding: 0px 0px 0px 0px;
  height: 18px;
  margin: 0px 0px -18px 0px;
	&_link{
		@include link(#949494, #949494);
		position: relative;
    font-family: "Arial Narrow";
		font-size: 18px;
		margin: 0px 0px 0px 13px;
    @include before{
      background: url("../image/mybreadcrumb-arrow.png") 0px 0px no-repeat #fff;
      display: block;
      width: 8px;
      height: 9px;
      position: absolute;
      top: 8px;
      left: -12px;
    }
		&:first-child {
      margin: 0px 0px 0px 20px;
      @include before{
        display: none; 
      }		
		}
		@include old-ie{
			&:first-child .breadcrumb_before {
				display: none;
			}
		}
	}
  &_item{
    color: #949494;
    position: relative;
    font-family: "Arial Narrow";
    font-size: 18px;
    margin: 0px 0px 0px 13px;
    @include before{
      background: url("../image/mybreadcrumb-arrow.png") 0px 0px no-repeat #fff;
      display: block;
      width: 8px;
      height: 9px;
      position: absolute;
      top: 8px;
      left: -12px;
    }
  }
}