.work{
	padding: 0px 0px 0px 0px;
	.user-content{
		padding: 0px 0px 45px 0px;
	}
	&_item{
		margin: 0px 0px 40px 0px;
	}
	&_top{
		@include clearfix4();
	}
	&_title{
		font-family: $robotocond;
		font-size: 18px;
		color: #000000;
		float: left;
	}
	&_link{
		@include link(#000000, #000000);
		float: right;
		margin-top: 4px;
		font-size: 12px;
		color: #000000;
	}
	&_bottom{
		padding: 18px 0px 0px 0px;
		@include clearfix4();
		a{
			float: left;
			display: block;
			width: 119px;
			height: 116px;
			margin: 0px 12px 22px 0px;
			&:nth-child(4n){
				margin: 0px 0px 22px 0px;
			}
			img{
				display: block;
			}
		}
	}
}